<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="File" name="applog" fileName="${basedir}/ZhusLib.log" />
        <target xsi:type="Console" name="stderr" 
            error="true" detectConsoleAvailable="true" />
    </targets>
    <rules>
        <!-- Add to/change rules below -->
        <logger name="*" minlevel="Error" writeTo="stderr"  />
        <logger name="*" minlevel="Warn" writeTo="applog" />
    </rules>
</nlog>